button {
    font-size: 18px;
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.btn-primary {
    color: white;
    background-color: rgb(0, 113, 219);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(0, 103, 199);
}

.btn-primary:focus {
    box-shadow: 0px 0px 0px 3px rgb(0, 113, 219, 0.5);
}

.btn-outline-primary {
    background-color: rgb(24, 26, 30);
    color: rgb(63, 142, 216);
    border: 1px solid rgb(0, 113, 219);
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
    color: white;
    background-color: rgb(0, 113, 219);
}