html{
    touch-action: manipulation; /*ダブルタップのズームを無効*/
}
body{
    background-color: #373949;
    color: white;
}
h1{
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
div{
    margin: 30px 40px;
    padding-left: 45px;
}
div.content{
    width: 1000px;
    margin: 10px auto;
    padding:20px;
    background-color: gray;/*#1f1d25;*/
    border-radius: 5px;
    border: solid 1px dimgray;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
img.card{
    width: 120px;
    height: 180px;
    margin: 0px 20px;
    overflow: hidden;
}
.informationArea{
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-flex;
}
.resultArea{
    width: 70%;
    background-color: rgb(70, 70, 90);
    color: rgb(255, 244, 212);
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
}
.executionArea{
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
p{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}
button{
    width: 100%;
    height: 40%;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #0a76c9;
    color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

#opponentsHand{
    position: relative;
    width: auto;
    height: 187px;
}
#opponentsCard_1{
    position: absolute;
    top: 0px;
    left: 45px
}
#opponentsCard_2{
    position: absolute;
    top: 0px;
    left: 210px /* 165を足していく */
}
#opponentsCard_3{
    position: absolute;
    top: 0px;
    left: 375px
}
#opponentsCard_4{
    position: absolute;
    top: 0px;
    left: 540px
}
#opponentsCard_5{
    position: absolute;
    top: 0px;
    left: 705px
}

#deckEtc{
    position: relative;
    width: auto;
    height: 187px;
}
#discard{
    position: absolute;
    top: 0px;
    left: 541px
}
#deck{
    position: absolute;
    top: 0px;
    left: 704px
}

#myHand{
    position: relative;
    width: auto;
    height: 187px;
}
#myCard_1{
    position: absolute;
    top: 0px;
    left: 45px
}
#myCard_2{
    position: absolute;
    top: 0px;
    left: 210px /* 165を足していく */
}
#myCard_3{
    position: absolute;
    top: 0px;
    left: 375px
}
#myCard_4{
    position: absolute;
    top: 0px;
    left: 540px
}
#myCard_5{
    position: absolute;
    top: 0px;
    left: 705px
}


/*縦幅が 920px 以下*/
@media only screen and (max-height:920px){
    body{
        margin: 2px;
    }
    h1{
        font-size: 30px;
    }
    div.content{
        margin: 2px auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div.someCards{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        font-size: 17px;
    }
}
/*縦幅が 740px 以下*/
@media only screen and (max-height:740px){
    #opponentsHand{
        height: 157px;
    }
    #deckEtc{
        height: 157px;
    }
    #myHand{
        height: 157px;
    }
    img.card{
        width: 100px;
        height: 150px;
    }
}

/*横幅が 1050px 以下*/
@media only screen and (max-width: 1050px){
    div.content{
        width: 700px
    }
    div.someCards{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #opponentsHand{
        height: 187px;
    }
    #opponentsCard_1{
        left: 0px
    }
    #opponentsCard_2{
        left: 135px /* 135を足していく */
    }
    #opponentsCard_3{
        left: 270px
    }
    #opponentsCard_4{
        left: 405px
    }
    #opponentsCard_5{
        left: 540px
    }
    
    #deckEtc{
        height: 187px;
    }
    #discard{
        left: 405px
    }
    #deck{
        left: 538px
    }
    
    #myHand{
        height: 187px;
    }
    #myCard_1{
        left: 0px
    }
    #myCard_2{
        left: 135px /* 135を足していく */
    }
    #myCard_3{
        left: 270px
    }
    #myCard_4{
        left: 405px
    }
    #myCard_5{
        left: 540px
    }
    
    /*縦幅が 920px 以下*/
    @media only screen and (max-height:920px){
        body{
            margin: 2px;
        }
        h1{
            font-size: 30px;
        }
        div.content{
            margin: 2px auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.someCards{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size: 17px;
        }
    }
    /*縦幅が 740px 以下*/
    @media only screen and (max-height:740px){
        #opponentsHand{
            height: 157px;
        }
        #deckEtc{
            height: 157px;
        }
        #myHand{
            height: 157px;
        }
        img.card{
            width: 100px;
            height: 150px;
        }
    }
}
/*横幅が 750px 以下*/
@media only screen and (max-width: 750px){
    div.content{
        width: 500px;
    }
    #opponentsHand{
        height: 150px;
    }
    #opponentsCard_1{
        left: -20px
    }
    #opponentsCard_2{
        left: 80px /* 100を足していく */
    }
    #opponentsCard_3{
        left: 180px
    }
    #opponentsCard_4{
        left: 280px
    }
    #opponentsCard_5{
        left: 380px
    }
    
    #deckEtc{
        height: 150px;
    }
    #discard{
        left: 280px
    }
    #deck{
        left: 378px
    }
    
    #myHand{
        height: 150px;
    }
    #myCard_1{
        left: -20px
    }
    #myCard_2{
        left: 80px /* 100を足していく */
    }
    #myCard_3{
        left: 180px
    }
    #myCard_4{
        left: 280px
    }
    #myCard_5{
        left: 380px
    }

    img.card{
        width: 100px;
        height: 150px;
    }

    .informationArea{
        margin: 0px;
    }
    .resultArea{
        margin: 0px;
    }
    .executionArea{
        margin-right: 0px;
    }

}
